<footer class="footer__wrap">
    <div class="footer">
        <div class="footer__content">
            <p>
                This is my personal project for practice during development, as well as an example of my work for
                employers during interviews.<br>
                I do not grant anyone the right to use it for personal or commercial purposes.
            </p>
            <p>Lineage II is a trademark of NCsoft Corporation. Copyright © NCsoft Corporation</p>
            <p>All rights reserved.</p>
        </div>
    </div>
</footer>