{% load static %}
{% load status_of_servers_tags %}

<header class="header__wrap">
        <div class="header">
            <div class="header__bg">
                <a href="{% url 'la2:index' %}">
                    <img class="header__logo" src="{% static 'la2/images/design/header_logo_339_61.png' %}" alt="Lineage 2 logo" height="61">
                </a>
                <nav class="header__nav">
                    <ul>
                        <li><a href="{% url 'la2:index' %}">Home</a></li>
                        <li><a href="registration.html">Registration</a></li>
                        <li><a href="{% url 'la2:play_page' %}">Quick Start</a></li>
                        <li><a href="{% url 'la2:donate_page' %}">Support the Server</a></li>
                        <li><a href="about.html">About the Server</a></li>
                    </ul>
                </nav>
            </div>

            {% get_status_of_servers %}

        </div>

</header>