.main__wrap {
    flex-grow: 1;
    background-color: #5886a7;
}

.main {
    width: 1024px;
    background: white;
    border-left: 10px solid #aec6de;
    border-right: 10px solid #aec6de;
    padding: 10px;
    margin: 0 auto;
    min-height: 200px;
    height: 100%;
}

.main__title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main__separator {
    border-bottom: 1px dashed gray;
    padding-top: 15px;
    margin-bottom: 15px;
}