{% extends 'la2/base.html' %}

{% block title %}
    About the server
{% endblock %}

{% block content %}
    <h2 class="main__title">About the server</h2>

    <ul>
        <li>1. When you start, you appear as Level 80 with the Noblesse skill and 2 billion adena.</li>
        <li>2. Safe enchant is +30, maximum enchant is +100, with a 90% success rate.</li>
        <li>3. On our server, enchant scrolls take up only one slot in your inventory.</li>
        <li>4. All items are sold already enchanted to +30.</li>
        <li>5. You can change your profession in just a few clicks via a special NPC.</li>
        <li>6. We don't have tedious quests for subclass and Noblesse.</li>
        <li>7. When you take a subclass, your character's level remains 80.</li>
        <li>8. Forget waiting for epic raid bosses for hours—we've added epic jewelry to our CoinShop.</li>
        <li>9. Two new tattoos for mages and warriors.</li>
        <li>10. Two automatic events with prizes as rewards!</li>
        <li>11. The penalty for wearing any grade armor or weapon is disabled.</li>
        <li>12. A new Raid Boss from Freya chronicles.</li>
        <li>13. New NPCs and mobs.</li>
        <li>14. The latest protection system. It prevents the use of cheat programs (e.g., l2Brute, l2phx) as
            well as automation software (e.g., bots, etc.).
        </li>
        <li>15. It’s impossible to use alternate characters (twinks) in events and the Olympiad (hardware-based
            blocking is implemented).
        </li>
    </ul>
{% endblock %}