{% extends 'la2/base.html' %}

{% block title %}
    Donate
{% endblock %}

{% block content %}
    <h2 class="main__title">Support for Your Lineage 2 Server</h2>
    <p>
        Choose a convenient method to make a voluntary contribution to support the development of the Lineage 2
        server, and receive Coins as a token of our gratitude.
    </p>

    <ul>
        <li>1. By Bank Card Online: <a href="#">Make a Contribution</a></li>
        <li>2. By Sending an SMS: <a href="#">Send SMS</a></li>
    </ul>

    <div class="main__separator"></div>

    <h2 class="main__title">Where Do the Contributions Go?</h2>
    <p>Our goal is to create the best Lineage 2 game world in collaboration with our players.</p>

    <p>All voluntary contributions are directed towards:</p>
    <ul>
        <li>1. Server development</li>
        <li>2. Payment for services of third-party organizations and individuals involved in server maintenance
            and functionality
        </li>
    </ul>

    <p><br>Additionally, these contributions help form a "Reward Fund".</p>
    <p>
        Funds from this pool will be returned to players as rewards for their active participation in developing
        the Lineage 2 game world.
    </p>
    <p>
        Please note: The Lineage 2 server is a non-commercial project. By supporting the server, you are
        supporting yourself!
    </p>
{% endblock %}