{% extends 'la2/base.html' %}

{% block title %}
    Quick Start
{% endblock %}

{% block content %}
    <h2 class="main__title">To start playing on the server, you need to complete the following steps:</h2>
        <ul>
            <li>1. Register an account using the following <a href="#">link</a></li>
            <li>2. Download and install a clean Interlude client from the provided <a href="#">link</a></li>
            <li>3. Download the patch from the provided <a href="#">link</a></li>
        </ul>
{% endblock %}